<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <div class="footer-icons">
        <a href="https://linkedin.com/in/diego-campos-velasquez-aa2806166" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/diegocam1246" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://gitlab.com/Diego_CV" target="_blank">
          <i class="fab fa-gitlab"></i>
        </a>
        <a href="mailto:diegocam1246@gmail.com" target="_blank">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
