<div class="row align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">About me.</h2>
                <p class="default-p">
                    Hi there! My name is Diego and I am a Computer Enginerring student based in the metropolitan region of 
                    Montreal, Quebec. I am currently enrolled at Polytechnique Montreal and I am in my 3rd year of studies.
                </p>

                <p>
                    <img src="../../assets/poly.jpg" alt="Piano" class="about-picture">
                </p>

                <p class="default-p">
                    I first started programming back in 2021, when I was in my last semester of college. I had to
                    take a course on programming a physics simulation and I was hooked. Fast-forward to today, and I have
                    had the chance to work with several technologies and do some cool projects.
                </p>

                <p class="default-p">
                    Projects that I did so far include mainly web development and embedded systems. I am also presently
                    a member of Exocet, a student-lead project that aims to build a hydrogen-powered catamaran to compete 
                    in the Monaco Engergy Boat Challenge.
                </p>

                <p class="default-p">
                    I really value self-improvement and I am always looking for ways to learn new skills. I am constantly
                    trying out new things and I am always looking for ways to be a better programmer.
                </p>

                <p class="default-p">
                    My love for traveling also led me to make an student exchange program in France at INSA Lyon. It was
                    an amazing experience and I learned a lot about the european education system and culture.
                </p>
                <p class="default-p">
                    On my free time, I enjoy reading, playing sports and playing musical instruments. As mentionned, I always
                    accompany my coding sessions with a good cup of coffee.
                </p>
                <p class="default-p">
                    Checkout my projects and feel free to reach out to me for any inquiries!
                </p>
                <p>
                    <img src="../../assets/piano.jpg" alt="Piano" class="about-picture">
                </p>
            </div>
        </div>
    </div>
</div>
