<div class="row align-items-center default-container">
    <div class="col-lg-5">
        <div class="contact-card">
            <img src="../../assets/portrait.jpg" alt="Contact Image" class="contact-image">
            <div class="media-content">
                <div class="media-icons">
                    <div class="media-icon">
                        <a href="https://linkedin.com/in/diego-campos-velasquez-aa2806166" target="_blank">
                            <i class="fab fa-linkedin"></i>
                          </a>
                    </div>
                    <div class="media-icon">

                        <a href="https://github.com/diegocam1246" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>

                    <div class="media-icon">
                        <a href="https://gitlab.com/Diego_CV" target="_blank">
                        <i class="fab fa-gitlab"></i>
                        </a>
                    </div>

                    <div class="media-icon">
                        <a href="mailto:diegocam1246@gmail.com">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </div>
                </div>
            </div>

            <p class="contact-paragraph">
                Feel free to checkout my github, gitlab or linkedin profiles. You can also download my CV by clicking the button below.
            </p>
            <button>
                > Download CV
            </button>
        </div>
    </div>
</div>
