<div class="row align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">Education.</h2>
                <p class="default-p">
                    Here is my <span class="default-highlight2">educational background</span> and some of the tools I've worked with the most throughout my <span class="default-highlight2">academic journey</span>.
                </p>
                <app-accordion></app-accordion>
        </div>
    </div>
</div>
