<div class="accordion-left">

  <accordion [isAnimated]="true">

    <accordion-group 
    heading="My Schools." 
    panelClass="customClass"
    class="accordion-title">
      <div class="accordion-text">

        <ul>
          <li>
            <p>2019 - 2021 <strong><span class="default-highlight">Champlain College St-Lambert</span></strong> - Diploma of Collegial Studies (DEC)</p>
            <p><strong><span>Pure and Applied Sciences</span></strong></p>
          </li>
          <li>
            <p>2022 - 2026 <strong><span class="default-highlight">Polytechnique Montreal</span></strong> - Bachelor's Degree</p>
            <p><strong><span>Computer Engineering</span></strong></p>
          </li>
          <li>
            <p>February - July 2024 <strong><span class="default-highlight">Institut National des Sciences Appliquées (INSA) Lyon</span></strong> - Student Exchange</p>
            <p><strong><span>Computer Science</span></strong></p>
          </li>
        </ul>
      </div>    
    </accordion-group>

    <accordion-group 
    heading="Spoken Languages." 
    panelClass="customClass"
    class="accordion-title">
      <div class="accordion-text">

        <ul>
          <li>
            <p><strong><span class="default-highlight">English</span></strong> - Fluent</p>
          </li>
          <li>
            <p><strong><span class="default-highlight">French</span></strong> - Native</p>
          </li>
          <li>
            <p><strong><span class="default-highlight">Spanish</span></strong> - Native</p>
          </li>
        </ul>
      </div>    
    </accordion-group>

    <accordion-group 
    heading="Tools I've worked with."
    panelClass="customClass"
    class="accordion-title">
      <div class="tech-board">
          <div class="tech-cell">
            <i class="devicon-python-plain"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-c-plain"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-cplusplus-plain"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-rust-plain"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-java-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-flutter-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-angular-plain"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-typescript-plain"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-nodejs-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-html5-plain"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-react-plain"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-javascript-plain"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-docker-plain"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-linux-plain"></i>
          </div>
      </div>
    </accordion-group>
  
  </accordion>
  
</div>