<div class="row align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Bonjour, Hi!</h1>
        <h2 class="home-author">I'm Diego Campos, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
            I'm a 3rd year <span class="default-highlight2">Computer Engineering</span> student currently enrolled at <span class="default-highlight2">Polytechnique Montreal</span>. Checkout my portfolio!
        </blockquote>
        <button>
            <a routerLink="/portfolio">
              > See what I do
            </a>
        </button>
      </div>
    </div>
  </div>
  